<nav class="navbar">
  <div class="logo">🌿 GreenScan </div>
  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/scanqr">Scan QR</a></li>
    <li><a routerLink="/gallery">Gallery</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/map">Map</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer>
  <div class="footer-content">
    <p>🌱<strong> GreenScan 🌱</strong></p>
    <p><a routerLink="/about">About</a> | <a routerLink="/contact">Contact</a></p>
  </div>
</footer>
