/* Style for Gallery */
.gallery-container {
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.plant-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.plant-card img {
  width: 50%;
  height: auto;
  border-radius: 10px;
}

.qr-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.qr-button:hover {
  background-color: #218838;
}

/* Modal Style */
.qr-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 60px;
}

.qr-modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 300px;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #f44336;
  text-decoration: none;
  cursor: pointer;
}
